


.parentDiv{
    background-color: #eff2f2;
    border: 1px solid #d8d8d8;
    padding:8px;
    border-radius:5px;
    display:flex;
    flex-direction: column;
    align-self: center;
}

.repo-card {
    display:flex;
    justify-content: center;
    margin:17px;
    overflow:auto;
    box-shadow: 3px 5px 9px #414c6d;
    border-radius: 5px;
    background-color: #0f1c3f;
    padding:35px;
  
  }
  
  .repo-card-content {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    border-radius: 5px;
   
   
  }
  
  .repo-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .repo-card-content p {
    margin-bottom: 4px;
    font-size: 1.2rem;
    color:#000000;
  }
  
  .repo-card-content a {
    color: #0f1c3f;
    text-decoration: none;
  }
  .repo-card-content a:hover {
    color: #727272e6;
    text-decoration: none;
  }